In [1]:
# Dependencies
import pandas as pd
import numpy as np
import datetime

In [2]:
file = "Data/tweets_data.csv"
df = pd.read_csv(file)
df.head()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-09T21:50:01.000Z,Solar + Powerwall battery ensures that your ho...,37454,400,4443,2871
1,2021-07-09T20:50:33.000Z,Tesla Solar Roof + Powerwall in major new hous...,13972,119,2185,1407
2,2021-07-09T20:39:21.000Z,"Autonomous SpaceX droneship,\nA Shortfall of G...",63291,860,3653,6553
3,2021-07-09T09:47:33.000Z,RT @ElectrekCo: I just bought my very first Te...,0,0,0,979
4,2021-07-08T23:47:20.000Z,Maybe that movie gaslit us all,26485,92,1927,1045

In [3]:
# Drop the NaNs
df.dropna()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-09T21:50:01.000Z,Solar + Powerwall battery ensures that your ho...,37454,400,4443,2871
1,2021-07-09T20:50:33.000Z,Tesla Solar Roof + Powerwall in major new hous...,13972,119,2185,1407
2,2021-07-09T20:39:21.000Z,"Autonomous SpaceX droneship,\nA Shortfall of G...",63291,860,3653,6553
3,2021-07-09T09:47:33.000Z,RT @ElectrekCo: I just bought my very first Te...,0,0,0,979
4,2021-07-08T23:47:20.000Z,Maybe that movie gaslit us all,26485,92,1927,1045
...,...,...,...,...,...,...
844,2020-06-16T02:07:13.000Z,All Model S cars made since late Jan have 402 ...,37772,118,1034,1254
845,2020-06-15T23:53:26.000Z,Tesla Model S now first ever electric vehicle ...,85744,700,2103,6865
846,2020-06-15T23:36:49.000Z,China &amp; Asia Pacific Supercharger usage ab...,18603,118,672,1227
847,2020-06-14T06:30:38.000Z,RT @SpaceX: Falcon 9 launches 58 Starlink sate...,0,0,0,10298
848,2020-06-11T09:49:26.000Z,lol,516860,7275,12230,59106

In [4]:
# Determine data types for each column
df.dtypes

date             object
text             object
like_count        int64
quote_count       int64
reply_count       int64
retweet_count     int64
dtype: object

In [12]:
df['date'] = pd.to_datetime(df['date']).dt.date.astype('datetime64')

In [13]:
df.head()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-09,Solar + Powerwall battery ensures that your ho...,37454,400,4443,2871
1,2021-07-09,Tesla Solar Roof + Powerwall in major new hous...,13972,119,2185,1407
2,2021-07-09,"Autonomous SpaceX droneship,\nA Shortfall of G...",63291,860,3653,6553
3,2021-07-09,RT @ElectrekCo: I just bought my very first Te...,0,0,0,979
4,2021-07-08,Maybe that movie gaslit us all,26485,92,1927,1045

In [14]:
# Confirm data type of date column is now datetime
df.dtypes

date             datetime64[ns]
text                     object
like_count                int64
quote_count               int64
reply_count               int64
retweet_count             int64
dtype: object

In [16]:
df.to_csv('Data/elon_tweets.csv', index=False)