In [35]:
# Dependencies
import pandas as pd
import numpy as np
import datetime

In [36]:
file = "Data/tweets_data.csv"
df = pd.read_csv(file)
df.head()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-07T18:48:11.000Z,Supersonic shock wave,19187,54,1053,707
1,2021-07-07T18:46:53.000Z,https://t.co/O3BGaFuMDO,33472,133,1013,1753
2,2021-07-07T16:58:11.000Z,High res landing Falcon landing video https://...,124251,1620,6850,12837
3,2021-07-06T22:09:32.000Z,https://t.co/TQZ9QvcwH1,288424,2459,16067,32327
4,2021-07-05T07:12:04.000Z,Free Britney,433153,3443,17335,52974

In [37]:
df.dtypes

date             object
text             object
like_count        int64
quote_count       int64
reply_count       int64
retweet_count     int64
dtype: object

In [73]:
df['date'] = pd.to_datetime(df['date']).dt.tz_convert(None)

In [74]:
df.head()

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-07 18:48:11,Supersonic shock wave,19187,54,1053,707
1,2021-07-07 18:46:53,https://t.co/O3BGaFuMDO,33472,133,1013,1753
2,2021-07-07 16:58:11,High res landing Falcon landing video https://...,124251,1620,6850,12837
3,2021-07-06 22:09:32,https://t.co/TQZ9QvcwH1,288424,2459,16067,32327
4,2021-07-05 07:12:04,Free Britney,433153,3443,17335,52974

In [75]:
df.to_csv('elon_tweets.csv', index=False)