In [34]:
import requests
import pandas as pd
import json

# import API key for financialmodelingprep.com
from config import API_key_stocks

In [43]:
# historical daily data from financialmodelingprep.com
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/TSLA?serietype=line&apikey='+ API_key_stocks

In [36]:
# get data from API for Tesla stocks
tesla = requests.get(url).json()

In [40]:
# convert json to Dataframe
tesla_df = pd.DataFrame.from_dict(data=tesla['historical'])
tesla_df.head()

         date   close
0  2021-07-02  678.90
1  2021-07-01  677.92
2  2021-06-30  679.70
3  2021-06-29  680.76
4  2021-06-28  688.72

In [41]:
len(tesla_df)

2773

In [42]:
tesla_df.loc[1500]

date     2015-07-20
close        56.452
Name: 1500, dtype: object