In [33]:
from twarc import Twarc2, expansions
import json
import datetime
import pandas as pd
from pprint import pprint

In [2]:
from config import bearer_token

In [3]:
client = Twarc2(bearer_token=bearer_token)

In [79]:
user = 'elonmusk'
posts_dict = {
    'date':[],
    'text':[],
    'like_count':[],
    'quote_count':[],
    'reply_count':[],
    'retweet_count':[]
}

In [80]:
# pull posts from Twitter and create a dictionary
user_timeline = client.timeline(user=user, exclude_replies=True, start_time=datetime.datetime(2020, 1, 1) )
for page in user_timeline:
    result = expansions.flatten(page)
    for tweet in result:
        posts_dict['date'].append(tweet['created_at'])
        posts_dict['text'].append(tweet['text'])
        posts_dict['like_count'].append(tweet['public_metrics']['like_count'])
        posts_dict['quote_count'].append(tweet['public_metrics']['quote_count'])
        posts_dict['reply_count'].append(tweet['public_metrics']['reply_count'])
        posts_dict['retweet_count'].append(tweet['public_metrics']['retweet_count'])

In [83]:
# convert dictionary of posts to dataframe
df_posts = pd.DataFrame.from_dict(posts_dict)
df_posts

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-05T07:12:04.000Z,Free Britney,404626,3281,16202,49791
1,2021-07-04T18:06:48.000Z,Happy 4th to all!,81689,117,3264,3302
2,2021-07-04T17:59:19.000Z,Bless America https://t.co/QNagk4PArb,227398,1210,10967,12252
3,2021-07-03T21:23:23.000Z,New SpaceX Starlink cover shows transfer orbit...,93831,444,6181,6202
4,2021-07-02T13:20:14.000Z,https://t.co/oGKHhHROQa,196814,2224,15970,19628
...,...,...,...,...,...,...
843,2020-06-10T14:15:45.000Z,Wort reading the whole thing\nhttps://t.co/4ly...,37342,389,2060,2833
844,2020-06-09T22:28:43.000Z,RT @SpaceX: Starlink fairing deploy sequence h...,0,0,0,14212
845,2020-06-08T18:18:41.000Z,"Wow, this is extremely important!! https://t.c...",51626,226,1249,3832
846,2020-06-08T17:28:25.000Z,Stankonia at https://t.co/LJJCD7BAgX,49419,428,1643,3888
847,2020-06-07T00:46:56.000Z,Gateway to Mars,63010,280,1499,3058