In [1]:
from twarc import Twarc2, expansions
import json
import datetime
import pandas as pd
from pprint import pprint

In [2]:
from config import bearer_token

In [3]:
client = Twarc2(bearer_token=bearer_token)

In [4]:
user = 'elonmusk'
posts_dict = {
    'date':[],
    'text':[],
    'like_count':[],
    'quote_count':[],
    'reply_count':[],
    'retweet_count':[]
}

In [5]:
# pull posts from Twitter and create a dictionary
user_timeline = client.timeline(user=user, exclude_replies=True, start_time=datetime.datetime(2017,1,20, 0, 0, 0) )
for page in user_timeline:
    result = expansions.flatten(page)
    for tweet in result:
        posts_dict['date'].append(tweet['created_at'])
        posts_dict['text'].append(tweet['text'])
        posts_dict['like_count'].append(tweet['public_metrics']['like_count'])
        posts_dict['quote_count'].append(tweet['public_metrics']['quote_count'])
        posts_dict['reply_count'].append(tweet['public_metrics']['reply_count'])
        posts_dict['retweet_count'].append(tweet['public_metrics']['retweet_count'])

In [6]:
# convert dictionary of posts to dataframe
df = pd.DataFrame.from_dict(posts_dict)
df

,date,text,like_count,quote_count,reply_count,retweet_count
0,2021-07-09T21:50:01.000Z,Solar + Powerwall battery ensures that your ho...,37454,400,4443,2871
1,2021-07-09T20:50:33.000Z,Tesla Solar Roof + Powerwall in major new hous...,13972,119,2185,1407
2,2021-07-09T20:39:21.000Z,"Autonomous SpaceX droneship,\nA Shortfall of G...",63291,860,3653,6553
3,2021-07-09T09:47:33.000Z,RT @ElectrekCo: I just bought my very first Te...,0,0,0,979
4,2021-07-08T23:47:20.000Z,Maybe that movie gaslit us all,26485,92,1927,1045
...,...,...,...,...,...,...
844,2020-06-16T02:07:13.000Z,All Model S cars made since late Jan have 402 ...,37772,118,1034,1254
845,2020-06-15T23:53:26.000Z,Tesla Model S now first ever electric vehicle ...,85744,700,2103,6865
846,2020-06-15T23:36:49.000Z,China &amp; Asia Pacific Supercharger usage ab...,18603,118,672,1227
847,2020-06-14T06:30:38.000Z,RT @SpaceX: Falcon 9 launches 58 Starlink sate...,0,0,0,10298
848,2020-06-11T09:49:26.000Z,lol,516860,7275,12230,59106

In [7]:
df.to_csv('Data/tweets_data.csv', index=False)